h1{
    font-weight: 700;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
    color: blueviolet;
}

.my-row{
    margin: 10px;
    align-items: center;
}

input{
    width: 100%;
}

.container {
    text-align: left;
}

.my-btn{
    width: 100%;
}
